<section id="equipo" class="bg-background text-text py-20">
    <h2 class="text-3xl font-bold text-center mb-10">Nuestro Equipo</h2>
    <div class="grid md:grid-cols-2 gap-8 px-4">
      <div class="text-center">
        <img src="/equipo/DJ.jpg" alt="DJ" class="rounded-full mx-auto mb-4 w-32 h-32 object-cover" />
        <h3 class="text-xl font-semibold">DJ Mario Coca</h3>
        <p>Especialista en mezclas y ambientación.</p>
      </div>
      <div class="text-center">
        <img src="/equipo/Administracion.jpg" alt="Administracion" class="rounded-full mx-auto mb-4 w-32 h-32 object-cover" />
        <h3 class="text-xl font-semibold">Luisa Gomez</h3>
        <p>Administracion y contabilidad.</p>
      </div>
      <!-- Agrega más miembros del equipo según sea necesario -->
    </div>
  </section>
  