<section id="equipo" class="bg-background text-text py-20">
    <h2 class="text-3xl font-bold text-center mb-10">Nuestro Equipo</h2>
    <div class="grid md:grid-cols-3 gap-8 px-4">
      <div class="text-center">
        <img src="/galeria/evento1.JPG" alt="DJ 1" class="rounded-full mx-auto mb-4 w-32 h-32 object-cover" />
        <h3 class="text-xl font-semibold">DJ Mario COCA</h3>
        <p>Especialista en mezclas y ambientación.</p>
      </div>
      <!-- Agrega más miembros del equipo según sea necesario -->
    </div>
  </section>
  